[submodule "teres"]
	path = teres
	url = https://github.com/tlamer/teres.git
[submodule "modules/beaker"]
	path = modules/beaker
	url = https://gitlab.example.com/user/anabot-beaker.git
[submodule "modules/animated_progress/pngs2apng"]
	path = modules/animated_progress/pngs2apng
	url = https://github.com/pholica/pngs2apng.git
[submodule "modules/harness-beaker"]
	path = modules/harness-beaker
	url = git@gitlab.example.com:user/anabot-harness-beaker.git
[submodule "dogtail"]
	path = dogtail
	url = https://gitlab.com/dogtail/dogtail.git
