[Unit]
Description=GNOME Ponytail daemon

[Service]
Type=dbus
BusName=org.gnome.Ponytail
ExecStart=/usr/libexec/gnome-ponytail-daemon
Restart=on-failure
