[Unit]
Description=Anabot
#After=anaconda-direct.service
# copied from anaconda-direct
ConditionArchitecture=|s390
ConditionArchitecture=|s390x

[Service]
ExecStart=/opt/python_launcher.sh /opt/launcher.py anaconda_installer
Environment="ANABOT_MODULES=/opt/anabot-modules"
Environment="ANABOT_CONF=/opt/anabot.ini"
Environment="TERES_PATH=/opt/teres"
Environment="DISPLAY=:1"
Environment="USER=root"
Environment="PYTHONHTTPSVERIFY=0"
ExecReload=/bin/kill -s SIGUSR1 ${MAINPID}

[Install]
WantedBy=anaconda.service
