[Unit]
Description=Anabot
After=anaconda.service
ConditionArchitecture=!s390
ConditionArchitecture=!s390x

[Service]
# Use sleep (to avoid occasional weird dogtail tracebacks) with Xorg only.
# It's actually a workaround - the sleep can't be used here generally, i. e.
# even with Wayland, as gnome-kiosk would fail to start - it's likely a bug in
# the launcher script in Anaconda (run-in-new-session) or gnome-kiosk.
# It seems the delay shouldn't be needed with Wayland (and/or with the new version
# of dogtail). If it turns out it's not the case, we should remove the sleep
# from here and implement it it launcher.py.
ExecStartPre=sh -c "which Xorg && sleep 30 || true"
ExecStart=/opt/python_launcher.sh /opt/launcher.py anaconda_installer
Environment="ANABOT_MODULES=/opt/anabot-modules"
Environment="ANABOT_CONF=/opt/anabot.ini"
Environment="TERES_PATH=/opt/teres"

# $DISPLAY shouldn't hurt anything even with Wayland
Environment="DISPLAY=:1"
Environment="XDG_RUNTIME_DIR=/run/user/0"
# $WAYLAND_DISPLAY and $DBUS_SESSION_BUS_ADDRESS get undefined in anabot/launcher.py if running on X
Environment="WAYLAND_DISPLAY=wl-sysinstall-0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/0/bus"
# $XDG_SESSION_TYPE is set automatically in anabot/launcher.py

Environment="USER=root"
Environment="PYTHONHTTPSVERIFY=0"
ExecReload=/bin/kill -s SIGUSR1 ${MAINPID}

[Install]
WantedBy=anaconda.service
