[Unit]
Description=Initial Setup testing preparation
After=initial-setup-graphical.service
Wants=anabot-prepare.service
After=anabot-prepare.service

[Service]
ExecStart=/opt/start-anabot-is.py
Environment="PYTHONPATH=/opt/lib/python2.7/site-packages"

[Install]
WantedBy=initial-setup-graphical.service
